<section class="head">
  <div class="container desk-head">
    <div class="header-wrapper">
      <nav class="navigation">
        <a href="./index.html" class="header-logo">
          <svg class="header-icon-logo" width="123" height="16">
            <use href="./img/sprite.svg#icon-logo"></use>
          </svg>
        </a>
        <ul class="navigation-list">
          <li class="header-list-item"><a href="#about_us"></a>About us</li>
          <li class="header-list-item">
            <a href="#our_courses">Our courses</a>
          </li>
          <li class="header-list-item">
            <a href="#our_mentors">Our mentors</a>
          </li>
          <li class="header-list-item"><a href="#reviews"></a>Reviews</li>
          <li class="header-list-item"><a href="#footer"></a>contacts</li>
        </ul>
      </nav>
      <div class="btn-wrapper">
        <a href="#sign-up" class="camera-link">
          <svg class="camera-icon" width="16" height="16">
            <use href="./img/sprite.svg#camera-sing-up"></use>
          </svg>
        </a>
        <button class="menu-btn" type="button" aria-label="Open menu button">
          <svg class="burger-menu" width="32" height="22">
            <use href="./img/sprite.svg#burger-menu"></use>
          </svg>
        </button>
        <button
          class="menu-btn-tab"
          type="button"
          aria-label="Open menu button"
        >
          <svg class="burger-menu" width="40" height="28">
            <use href="./img/sprite.svg#burger-menu"></use>
          </svg>
        </button>
      </div>
    </div>
    <a class="desk-btn" href="#sign-up">sing up</a>
  </div>

  <!-- mobile menu -->

  <div class="mobile-menu">
    <div class="modal">
      <button
        class="mobile-menu-btn"
        type="button"
        aria-label="close menu button"
      >
        <svg class="close-icon" width="32" height="32">
          <use href="./img/sprite.svg#close-icon"></use>
        </svg>
      </button>
      <ul class="menu-list">
        <li class="menu-list-item">
          <a href="#about_us"></a><span class="menu-accent">About us</span>
        </li>
        <li class="menu-list-item">
          <a href="#our_courses">Our courses</a>
        </li>
        <li class="menu-list-item">
          <a href="#our_mentors">Our mentors</a>
        </li>
        <li class="menu-list-item"><a href="#reviews"></a>Reviews</li>
        <li class="menu-list-item"><a href="#footer"></a>contacts</li>
      </ul>
      <picture>
        <source
          media="(minwidth: 768px)"
          srcset="
            ./img/burger-menu/tab-menu_x1.jpg 1x,
            ./img/burger-menu/tab-menu_x2.jpg 2x
          "
        />
        <source
          media="(maxwidth: 767px)"
          srcset="
            ./img/burger-menu/mob-menu_x1.jpg 1x,
            ./img/burger-menu/mob-menu_x2.jpg 2x
          "
        />
        <img
          src="./img/burger-menu/mob-menu_x1.jpg"
          alt="camera"
          class="menu-img"
          loading="lazy"
        />
      </picture>
    </div>
  </div>
</section>
