<section class="head">
  <div class="container head-wrapper">
    <nav class="navigation">
      <a href="" class="logo">Focus.Frame</a>
      <ul class="navigation-list">
        <li class="header-list-item"><a href="./about_us.html"></a>About us</li>
        <li class="header-list-item">
          <a href="./our_courses.html">Our courses</a>
        </li>
        <li class="header-list-item">
          <a href="./our_mentors.html">Our mentors</a>
        </li>
        <li class="header-list-item"><a href="./reviews.html"></a>Reviews</li>
        <li class="header-list-item"><a href="./footer.html"></a>contacts</li>
      </ul>
      <a href="./sing_up.html" class="camera-link">
        <svg class="camera-icon" width="16" height="16">
          <use href="./img/sprite.svg#camera-sing-up"></use>
        </svg>
      </a>
      <button class="menu-btn" type="button" aria-label="Open menu button">
        <svg class="burger-menu" width="32" height="22">
          <use href="./img/sprite.svg#burger-menu"></use>
        </svg>
      </button>
    </nav>
  </div>
</section>
