<section class="hero-section background-image">
    <div class="hero-container container">
        <h1 class="hero-title">
            Discover the magic of <span class="hero-accent">photography</span> in our school
        </h1>
        <p class="hero-text">
            Our photography school offers an unforgettable journey,
            where you can learn the basics of composition,
            master technical skills, translate your unique ideas.
        </p>
        <div class="hero-info">
            <div class="happy-students">
                <ul class="happy-students-photos">
                    <li class="student-photo">
                        <picture>
                            <!--Tablet+Desktop-->
                            
                            <!--Mobile-->
                            <source 
                                media="(max-width:767px)" 
                                srcset="
                                    /src/img/hero/girl1.mob@1x.png 1x,
                                    /src/img/hero/girl1.mob@2x.png 2x" />
                            <source 
                                media="(min-width:768px, max-width:1440px)" 
                                srcset="
                                    /src/img/hero/girl1.tab@1x.png 1x,
                                    /src/img/hero/girl1.tab@2x.png 2x" />        
                            <img 
                                src="/src/img/hero/girl1.mob@1x.png" 
                                alt="Caitlyn King photo" 
                                width="44" 
                                height="44"
                                loading="lazy" />
                        </picture>
                    </li>
                    <li class="student-photo">
                        <picture>
                            <!--Tablet+Desktop-->
                            <source 
                                media="(min-width:768px, max-width:1440px)" 
                                srcset="
                                    /src/img/hero/boy.tab@1x.png 1x,
                                    /src/img/hero/boy.tab@1x.png 2x" />
                            <!--Mobile-->
                            <source 
                                media="(max-width:767px)" 
                                srcset="
                                    /src/img/hero/boy.mob@1x.png 1x,
                                    /src/img/hero/boy.mob@2x.png 2x" />
                            <img 
                                src="/src/img/hero/boy.mob@1x.png" 
                                alt="Jordan Burgess photo" 
                                width="44" 
                                height="44"
                                loading="lazy" />
                        </picture>
                    </li>
                    <li class="student-photo">
                        <picture>
                            <!--Mobile-->
                            <source 
                                media="(max-width:767px)" 
                                srcset="
                                    /src/img/hero/girl2.mob@1x.png 1x,
                                    /src/img/hero/girl2.mob@2x.png 2x" />
                            <!--Tablet+Desktop-->
                            <source 
                                media="(min-width:768px, max-width:1440px)" 
                                srcset="
                                    /src/img/hero/girl2.tab@1x.png 1x,
                                    /src/img/hero/girl2.tab@2x.png 2x" />
                            <img 
                                src="/src/img/hero/girl2.tab@1x.png" 
                                alt="Adriana O'Sullivan photo" 
                                width="44"
                                height="44" 
                                loading="lazy" />
                        </picture>
                    </li>
                </ul>
                <div class="hero-reviews-link">
                    <a class="happy-students-link">
                        Our happy students
                    </a>
                    <svg class="hero-arrow" width="18px" height="8.66px">
                        <use href="./src/img/sprite.svg#icon-hero_arrow1x"></use>
                    </svg>
                </div>
                <div>
                    <svg class="hero-star" width="20" height="20">
                        <use href="./src/img/sprite.svg#icon-hero_star1x"></use>
                    </svg>
                    <div>
                        <h2 class="hero-reviews-text">
                            Reviews
                        </h2>
                        <p class="hero-reviews-numbers">
                            +1500
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <picture>
            <!--Mobile-->
            <source 
                media="(max-width:767px)" 
                srcset="/src/img/hero/photographer.mob@1x.png 1x, /src/img/hero/photographer.mob@2x.png 2x" />
            <!--Tablet-->
            <source 
                media="(min-width:768px)" 
                srcset="/src/img/hero/photographer.tab@1x.png 1x, /src/img/hero/photographer.tab@1x.png 2x" />
            <!--Desktop-->
            <source 
                media="(min-width:1280px)" 
                srcset="
                    /src/img/hero/photographer.desk@1x.png 1x,
                    /src/img/hero/photographer.desk@2x.png 2x" />
            <img 
                src="/src/img/hero/photographer.mob@1x.png" 
                alt="Men with red hair and old camera" 
                width="259px"
                height="314px" 
                loading="lazy" />
            
        </picture>
    </div>
</section>


C:\Users\ktvpo\Documents\GitHub\blended-04_project-03\src\img\hero\photographer.tab@1x.png