<section class="hero-section background-image">
    <div class="hero-container container">
        <h1 class="hero-title">
            Discover the magic of <span class="hero-accent">photography</span> in our school
        </h1>
        <p class="hero-text">
            Our photography school offers an unforgettable journey,
            where you can learn the basics of composition,
            master technical skills, translate your unique ideas.
        </p>
        <div class="hero-info">
            <div class="happy-students">
                <ul class="happy-students-photos">
                    <li class="student-photo">
                        <picture>
                            <!--Tablet+Desktop-->
                            <source media="(min-width:768px, max-width:1440px)" srcset="
                                ./src/img/hero/girl1_tab@1x.jpg 1x,
                                ./src/img/hero/girl1_tab@2x.jpg 2x" />
                            <!--Mobile-->
                            <source media="(max-width:767px)" srcset="
                                /src/img/hero/girl1_mob@1x.jpg 1x,
                                /src/img/hero/girl1_mob@2x.jpg 2x" />
                            <img src="./src/img/hero/girl1_mob@1x.jpg" alt="Caitlyn King photo" width="44" height="44"
                                loading="lazy" />
                        </picture>
                    </li>
                    <li class="student-photo">
                        <picture>
                            <!--Tablet+Desktop-->
                            <source media="(min-width:768px, max-width:1440px)" srcset="
                                ./src/img/hero/boy_tab@1x.jpg 1x,
                                ./src/img/hero/boy_tab@2x.jpg 2x" />
                            <!--Mobile-->
                            <source media="(max-width:767px)" srcset="
                                ./src/img/hero/boy_mob@1x.jpg 1x,
                                ./src/img/hero/boy_mob@2x.jpg 2x" />
                            <img src="./src/img/hero/boy_mob@1x.jpg" alt="Jordan Burgess photo" width="44" height="44"
                                loading="lazy" />
                        </picture>
                    </li>
                    <li class="student-photo">
                        <picture>
                            <!--Tablet+Desktop-->
                            <source media="(min-width:768px, max-width:1440px)" srcset="
                                ./src/img/hero/girl2_tab@1x.jpg 1x,
                                ./src/img/hero/girl2_tab@2x.jpg 2x" />
                            <!--Mobile-->
                            <source media="(max-width:767px)" srcset="
                                ./src/img/hero/girl2_mob@1x.jpg 1x,
                                ./src/img/hero/girl2_mob@2x.jpg 2x" />
                            <img src="./src/img/hero/girl2_mob@1x.jpg" alt="Adriana O'Sullivan photo" width="44"
                                height="44" loading="lazy" />
                        </picture>
                    </li>
                </ul>
                <div class="hero-reviews-link">
                    <a class="happy-students-link">
                        Our happy students
                    </a>
                    <svg class="hero-arrow" width="18px" height="8.66px">
                        <use href="./src/img/sprite.svg#icon-hero_arrow1x"></use>
                    </svg>
                </div>
                <div>
                    <svg class="hero-star" width="20" height="20">
                        <use href="./src/img/sprite.svg#icon-hero_star1x"></use>
                    </svg>
                    <div>
                        <h2 class="hero-reviews-text">
                            Reviews
                        </h2>
                        <p class="hero-reviews-numbers">
                            +1500
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <picture>
            <!--Mobile-->
            <source media="(max-width:767px)" srcset="
                    ./src/img/hero/photographer_mob@1x.jpg,
                    ./src/img/hero/photographer_mob@2x.jpg" />
            <img src="./src/img/hero/photographer_mob@1x.jpg" alt="Men with red hair and old camera" width="259px"
                height="314px" loading="lazy" />
            <source media="(min-width:768px)" srcset="
                    ./src/img/hero/photographer_tab@1x.jpg,
                    ./src/img/hero/photographer_tab@2x.jpg" />
            <source media="(min-width:1280px, max-width=1440px)" srcset="
                    ./src/img/hero/photographer_desk@1x.jpg,
                    ./src/img/hero/photographer_desk@2x.jpg" />
        </picture>
    </div>
</section>