<section class="our-courses">
  <div class="container our-courses-cards">
    <h2>Our <span class="accent-courses">Courses</span></h2>
    <p>
      At our photography school, we offer a variety of courses that cover all
      aspects of this fascinating art. Regardless of your experience or skill
      level, we have courses to suit your needs and goals.
    </p>
    <ol>
      <li class="links">
        <a class="arrow" href="">
          <svg class="arrow-icon" width="20" height="20">
            <use href="../img/sprite.svg#icon-vector"></use>
          </svg>
        </a>
        <h3>Basics of photography</h3>
        <p>
          During this course, you will be able to familiarize yourself with
          different types of cameras, learn the basics of composition.
        </p>
      </li>
      <li class="links">
        <a class="arrow" href="">
          <svg class="arrow-icon" width="20" height="20">
            <use href="../img/sprite.svg#icon-vector"></use>
          </svg>
        </a>
        <h3>Landscape photography</h3>
        <p>
          In this course, you'll learn how to choose the right angles, frame
          landscapes, and create depth and perspective in your images.
        </p>
      </li>
      <li class="links">
        <a class="arrow" href="">
          <svg class="arrow-icon" width="20" height="20">
            <use href="../img/sprite.svg#icon-vector"></use>
          </svg>
        </a>
        <h3>Portrait photography</h3>
        <p>
          During this course, you will learn to choose the right lighting,
          reproduce the mood and expressions on the faces of the models.
        </p>
      </li>
    </ol>
  </div>
</section>
