<section class="section sec-mentors" id="our_mentors">
  <div class="container con-mentors">
    <h2 class="mentors-title">Our <span class="accent">Mentors</span></h2>
    <ul class="mentors-list">
      <li class="mentors-list-item">
        <img
          class="photo"
          src="./img/our-mentors/girl1_1x.jpg"
          srcset="
            ./img/our-mentors/girl1_1x.jpg 1x,
            ./img/our-mentors/girl1_2x.jpg 2x
          "
          alt="photo Emilia Smith"
          width="180"
        />
        <div>
          <h3 class="mentors-title-name">Emilia Smith</h3>
          <p class="mentors-par">1.5 years of experience</p>
        </div>
      </li>
      <li class="mentors-list-item">
        <img
          class="photo"
          src="./img/our-mentors/boy1_1x.jpg"
          srcset="
            ./img/our-mentors/boy1_1x.jpg 1x,
            ./img/our-mentors/boy1_2x.jpg 2x
          "
          alt="photo Alex Lebedev"
          width="180"
        />
        <div>
          <h3 class="mentors-title-name">Alex Lebedev</h3>
          <p class="mentors-par">3.5 years of experience</p>
        </div>
      </li>
      <li class="mentors-list-item">
        <img
          class="photo"
          src="./img/our-mentors/girl2_1x.jpg"
          srcset="
            ./img/our-mentors/girl2_1x.jpg 1x,
            ./img/our-mentors/girl2_2x.jpg 2x
          "
          alt="photo Mia Dubrovska"
          width="180"
        />
        <div>
          <h3 class="mentors-title-name">Mia Dubrovska</h3>
          <p class="mentors-par">2.0 years of experience</p>
        </div>
      </li>
      <li class="mentors-list-item">
        <img
          class="photo"
          src="./img/our-mentors/boy2_1x.jpg"
          srcset="
            ./img/our-mentors/boy2_1x.jpg 1x,
            ./img/our-mentors/boy2_2x.jpg 2x
          "
          alt="photo Eliot Kovalev"
          width="180"
        />
        <div>
          <h3 class="mentors-title-name">Eliot Kovalev</h3>
          <p class="mentors-par">4.0 years of experience</p>
        </div>
      </li>
    </ul>
  </div>
</section>
