<section class="our-courses">
  <div class="container our-courses-cards">
    <div class="head-block">
      <h2 class="text-our">Our <span class="accent">Courses</span></h2>
      <p class="our-cards">
        At our photography school, we offer a variety of courses that cover all
        aspects of this fascinating art. Regardless of your experience or skill
        level, we have courses to suit your needs and goals.
      </p>
    </div>
    <ol class="card-list">
      <li class="links">
        <div class="card-block">
          <p class="card-number">01</p>
          <a class="arrow" href="">
            <svg class="arrow-icon" width="20" height="20">
              <use href="../img/sprite.svg#icon-arrow"></use>
            </svg>
          </a>
        </div>
        <h3 class="card-head">Basics of photography</h3>
        <p class="card-text">
          During this course, you will be able to familiarize yourself with
          different types of cameras, learn the basics of composition.
        </p>
      </li>
      <li class="links">
        <div class="card-block">
          <p class="card-number">02</p>
          <a class="arrow" href="">
            <svg class="arrow-icon" width="20" height="20">
              <use href="../img/sprite.svg#icon-arrow"></use>
            </svg>
          </a>
        </div>
        <h3 class="card-head">Landscape photography</h3>
        <p class="card-text">
          In this course, you'll learn how to choose the right angles, frame
          landscapes, and create depth and perspective in your images.
        </p>
      </li>
      <li class="links">
        <div class="card-block">
          <p class="card-number">03</p>
          <a class="arrow" href="">
            <svg class="arrow-icon" width="20" height="20">
              <use href="../img/sprite.svg#icon-arrow"></use>
            </svg>
          </a>
        </div>
        <h3 class="card-head">Portrait photography</h3>
        <p class="card-text">
          During this course, you will learn to choose the right lighting,
          reproduce the mood and expressions on the faces of the models.
        </p>
      </li>
    </ol>
  </div>
</section>
