<section class="section sec-mentors">
<div class="container con-mentors">
<h2 class="mentors-title">Our <span class="accent-M">Mentors</span> </h2>
<ul class="mentors-list">
<li class="mentors-list-item">
    <img class="foto" src="../img/girl-1.jpg" alt="Foto Emilia Smith"
    width="180">
<div>
    
<h3 class="mentors-title-name">Emilia Smith</h3>
<p class="mentors-par"> 1.5 years of experience</p>
</div>
</li>
<li class="mentors-list-item">
    <img class="foto" src="../img/boy-1.jpg" alt="Foto Alex Lebedev"
    width="180">
<div>
<h3 class="mentors-title-name">Alex Lebedev</h3>
<p class="mentors-par"> 3.5 years of experience</p>
</div>
</li>
<li class="mentors-list-item">
    <img class="foto" src="../img/girl-2.jpg" alt="Foto Mia Dubrovska"
    width="180">
<div>
<h3 class="mentors-title-name">Mia Dubrovska</h3>
<p class="mentors-par"> 2.0 years of experience</p>
</div>
</li>
<li class="mentors-list-item">
    <img class="foto" src="../img/boy-2.jpg" alt="Foto Eliot Kovalev"
    width="180">
<div>
<h3 class="mentors-title-name">Eliot Kovalev</h3>
<p class="mentors-par"> 4.0 years of experience</p>
</div>
</li>
</ul>
</div>
</section>