<section class="section sec-mentors">
<div class="container con-mentors">
<h2 class="mentors-title">Our<span class="accent">mentors</span> </h2>
<ul class="mentors-list">
<li class="mentors-list-item">
<div>
<h3 class="mentors-title-name">Emilia Smith</h3>
<p class="mentors-par"> 1.5 years of experience</p>
</div>
</li>
<li class="mentors-list-item">
<div>
<h3 class="mentors-title-name">Alex Lebedev</h3>
<p class="mentors-par"> 3.5 years of experience</p>
</div>
</li>
<li class="mentors-list-item">
<div>
<h3 class="mentors-title-name">Mia Dubrovska</h3>
<p class="mentors-par"> 2.0 years of experience</p>
</div>
</li>
<li class="mentors-list-item">
<div>
<h3 class="mentors-title-name">Eliot Kovalev</h3>
<p class="mentors-par"> 4.0 years of experience</p>
</div>
</li>
</ul>
</div>
</section>