<section class="section reviews">
    <div class="container">
        <h2 class="reviews-title">Reviews</h2>
        <ul class="reviews-list">
            <li class="reviews-card">
                <ul class="card-list">
                    <li class="card-list-header">
                        <ul class="list-header">
                            <li class="list-header-item"><img class="review-img"
                                    srcset="../img/reviews/user1.jpg 1x, ../img/reviews/user1@2x.jpg 2x"
                                    src="../img/reviews/user1.jpg" alt="Abraham Baker" width="56" height="56" /></li>
                            <li class="list-header-item">
                                <ul class="card-info">
                                    <li class="card-info-item">Abraham Baker</li>
                                    <li class="card-info-item">Student</li>
                                    <li class="card-info-item"><svg class="review-star" width="20" height="20">
                                            <use href="../img/sprite.svg#icon-star"></use>
                                        </svg>
                                        <svg class="review-star" width="20" height="20">
                                            <use href="../img/sprite.svg#icon-star"></use>
                                        </svg>
                                        <svg class="review-star" width="20" height="20">
                                            <use href="../img/sprite.svg#icon-star"></use>
                                        </svg>
                                        <svg class="review-star" width="20" height="20">
                                            <use href="../img/sprite.svg#icon-star"></use>
                                        </svg>
                                        <svg class="review-star" width="20" height="20">
                                            <use href="../img/sprite.svg#icon-star"></use>
                                        </svg>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="card-list-text">I am very pleased that I decided to enroll in photography school. The
                        teachers
                        turned out to be very talented and
                        experienced professionals who share their knowledge and are dedicated to their work. I was able
                        to
                        expand my skills and
                        discover my own style.</li>
                </ul>
            </li>
            <li class="reviews-card">
                <ul class="card-list">
                    <li class="card-list-header">
                        <ul class="list-header">
                            <li class="list-header-item"><img class="review-img"
                                    srcset="../img/reviews/user1.jpg 1x, ../img/reviews/user1@2x.jpg 2x"
                                    src="../img/reviews/user1.jpg" alt="Abraham Baker" width="56" height="56" /></li>
                            <li class="list-header-item">
                                <ul class="card-info">
                                    <li class="card-info-item">Abraham Baker</li>
                                    <li class="card-info-item">Student</li>
                                    <li class="card-info-item"><svg class="review-star" width="20" height="20">
                                            <use href="../img/sprite.svg#icon-star"></use>
                                        </svg>
                                        <svg class="review-star" width="20" height="20">
                                            <use href="../img/sprite.svg#icon-star"></use>
                                        </svg>
                                        <svg class="review-star" width="20" height="20">
                                            <use href="../img/sprite.svg#icon-star"></use>
                                        </svg>
                                        <svg class="review-star" width="20" height="20">
                                            <use href="../img/sprite.svg#icon-star"></use>
                                        </svg>
                                        <svg class="review-star" width="20" height="20">
                                            <use href="../img/sprite.svg#icon-star"></use>
                                        </svg>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="card-list-text">I am very pleased that I decided to enroll in photography school. The
                        teachers
                        turned out to be very talented and
                        experienced professionals who share their knowledge and are dedicated to their work. I was able
                        to
                        expand my skills and
                        discover my own style.</li>
                </ul>
            </li>
        </ul>
    </div>
</section>