<section id="sign-up" class="section">
  <div class="container sign-up-main">
    <div class="sign-up">
      <h2 class="title-sign-up">Sign<span class="accent"> Up</span></h2>
      <p class="sign-up-paragraph">
        Please use the form below to contact us. Enter your name, email, and
        message and we'll get back to you shortly.
      </p>
      <form class="sign-up-form" action="">
        <div class="sign-up-form-input">
          <label class="form-lable" for="user-name"></label>
          <div class="form-field">
            <input
              class="form-input"
              id="user-name"
              type="text"
              required
              name="user-name"
              maxlength="32"
              pattern="[A-Za-zА-Яа-яґҐЁёІіЇїЄє'\s-]{2,20}{2,50}"
              placeholder="Enter your name"
            />
          </div>
          <div class="sign-up-form-input">
            <label class="form-lable" for="email-address"></label>
            <div class="form-field">
              <input
                class="form-input"
                id="email-address"
                type="email"
                required
                name="email"
                pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$"
                placeholder="Enter your email"
              />
            </div>
          </div>
          <div class="sign-up-form-comment">
            <label class="form-lable" for="user-comment"></label>
            <textarea
              class="form-comment"
              name="user-comment"
              id="user-comment"
              rows="4"
              placeholder="Message"
            ></textarea>
          </div>
        </div>
        <button class="button-send" type="submit">Send</button>
        <p class="privacy-policy">
          By clicking on “Send” button, you agree to our
          <span
            ><a href="" class=".privacy-policy-accent">Privacy Policy</a></span
          >
          and allow Promodo to use this information for marketing purposes.
        </p>
      </form>
    </div>
    <ul class="sign-up-picture">
      <li class="sign-up-oval-lens">
        <picture class="sign-up-picture-element">
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/sign-up/lens_desk@1x.png 1x,
              ./img/sign-up/lens_desk@2x.png 2x
            "
          />
          <img
            class="sign-up-lens-picture"
            src="./img/sign-up/lens_desk.png"
            alt="Camera lens"
          />
        </picture>
      </li>
      <li class="sign-up-oval-camera">
        <picture class="sign-up-picture-element">
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/sign-up/camera_desk@1x.png 1x,
              ./img/sign-up/camera_desk@2x.png 2x
            "
          />
          <img
            class="sign-up-camera-picture"
            src="./img/sign-up/camera_desk.png"
            alt="Photo Camera"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
