
.section.about-section {
    padding-top: 80px;
}

@media only screen and (min-width: 768px) {
.section.about-section {
    padding-top: 100px;
}
}

@media only screen and (min-width: 1280px) {
.section.about-section {
    padding-top: 150px;
}
}@media only screen and (min-width: 1280px) {
.div-about {
    display: flex;
    flex-direction: row;
    gap: 40px;
}
}
.section-about {
    font-size: 28px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.04em;
    text-align: left;
    margin-bottom: 40px;
}
@media only screen and (min-width: 768px) {
.section-about {
    font-size: 48px;
    line-height: 1.12;
    margin-bottom: 50px;
}
}
.about-us-pic {
    width: 100%;
}
.list-about {
    margin-top: 40px;
}
@media only screen and (min-width: 768px) {
.list-about {
    margin-top: 50px;
    width: 600px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
}
}
@media only screen and (min-width: 1280px) {
.list-about {
    width: 552px;
    margin-top: 0;
    gap: 20px;
}
}
.item-about {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-align: left;
}
@media only screen and (max-width: 767.98px) {
.item-about:not(:last-child) {
    margin-bottom: 20px;
}
}
@media only screen and (min-width: 768px) {
.item-about {
    width: calc((100% - 40px) / 2);
    font-size: 16px;
    line-height: 1.25;
}
}
@media only screen and (min-width: 1280px) {
.item-about {
    width: calc((100% - 20px) / 2);
}
}