.running {
    border-top: 1px solid rgba(255, 255, 255, 0.20);
     border-bottom: 1px solid rgba(255, 255, 255, 0.20);
}

.block-title {
    color: #BEA69E;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.14;
    letter-spacing: -0.02em;
    text-transform: uppercase;
}

@media only screen and (min-width: 768px) {
    .block-title {
        font-size: 40px;
        line-height: 1.25;
    }
}
@media only screen and (min-width: 1280px) {
    .block-title {
        font-size: 59px;
        line-height: 1.08;
    }
}
.accent-block {
    color: #FFF;
}

.running-line {
    margin: 0;
    min-width: 100%;
    white-space: nowrap;
    animation-name: advertisement;
    animation-duration: 7s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    margin-top: 20px;
    margin-bottom: 20px;
}

@keyframes advertisement{
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}
@media only screen and (min-width: 768px) {
    .running-line {
     margin-top: 24px;
     margin-bottom: 24px;
    }
    }