.hero {
    background-image: url(../img/hero/bg.mob@1x.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: transparent;
    max-width: 375px;
    padding: 0 auto;
    margin: 0 auto;
}

@media (min-resolution: 192dpi) {
    .hero {
        background-image: url(../img/hero/bg.mob@2x.png);
    }
}

@media only screen and (min-width: 768px) {
    .hero {
        max-width: 768px;
        background-image: url(../img/hero/bg.tab@1x.png);
    }
}

@media only screen and (min-width: 768px) and (min-resolution: 192dpi) {
    .hero {
        background-image: url(../img/hero/bg.tab@2x.png);
    }
}

/* Desktop and Desktop large */
@media only screen and (min-width: 1280px) {
    .hero {
        max-width: 1440px;
        background-image: url(../img/hero/bg.desk@1x.png);
    }
}

@media only screen and (min-width: 1280px) and (min-resolution: 192dpi) {
    .hero {
        background-image: url(../img/hero/bg.desk@2x.png);
    }
}

.hero.container {
    padding: 90px 20px 80px;
    min-width: 320px;
}

@media only screen and (min-width: 768px) {
    .hero.container {
        min-width: 768px;
        max-width: 768px;
        padding: 120px 32px 100px;
    }
}

@media only screen and (min-width: 1280px) {
    .hero.container {
        min-width: 1280px;
        max-width: 1280px;
        padding: 160px 100px 150px;
    }
}

@media only screen and (min-width: 1440px) {
    .hero.container {
        min-width: 1440px;
        max-width: 1440px;
    }
}

.hero-container {
    width: 100%;
    min-width: 335px;
    max-width: 375px;
    border-radius: 30px;
    background: #1D1D1D;
    padding: 40px 20px 0;
}

@media only screen and (min-width: 768px) {
    .hero-container {
        min-width: 704px;
        max-width: 704px;
        padding: 64px 155px 0 32px;
    }
}

@media only screen and (min-width: 1280px) {
    .hero-container {
        display: flex;
        min-width: 1080px;
        max-width: 1080px;
        padding: 80px 50px 0;
    }
}

@media only screen and (min-width: 1440px) {
    .hero-container {
        min-width: 1240px;
        max-width: 1240px;
        padding: 80px 100px 0 50px;
    }
}

@media only screen and (min-width: 1280px) {
    .hero-info {
        margin-right: 20px;
    }
}
 
@media only screen and (min-width: 1440px) {
    .hero-info {
        margin-right: 130px;
    }
}

.hero-title {
    font-family: DM Sans;
    font-size: 40px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: -0.04em;
    padding-bottom: 20px;
    max-width: 295px;
}

@media only screen and (max-width: 767.98px) {
    .hero-title br {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    .hero-title {
        max-width: 517px;
        font-size: 60px;
        line-height: 1.067;
        letter-spacing: -0.04em;
    }
}

@media only screen and (min-width: 1280px) {
    .hero-title {
        min-width: 563px;
        max-width: 563px;
        font-size: 64px;
        line-height: 1.063;
    }
}

@media only screen and (min-width: 1440px) {
    .hero-title {
        line-height: 68px;
        letter-spacing: -0.038em;
    }
}

.hero-accent {
    color: #BEA69E;
    font-family: DM Sans;
    font-size: 40px;
    font-style: italic;
    font-weight: 400;
    line-height: 1.1;
    letter-spacing: -0.04em;
}

@media only screen and (min-width: 768px) {
    .hero-accent {
        font-size: 60px;
        line-height: 1.067;
    }
}

@media only screen and (min-width: 1280px) {
    .hero-accent {
        font-size: 64px;
        line-height: 1.063;
    }
}

.hero-text {
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: -0.02em;
    padding-bottom: 40px;
    max-width: 295px;
}

@media only screen and (min-width: 768px) {
    .hero-text {
        min-width: 418px;
        max-width: 418px;
    }
}

/* Desktop and Desktop lg */
@media only screen and (min-width: 1280px) {
    .hero-text{
        padding-bottom: 136px;
    }
}

.happy-students {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    gap: 40px;
    padding-bottom: 31px;
}

@media only screen and (min-width: 768px) {
    .happy-students {
        padding-bottom: 40px;
    }
}

@media only screen and (min-width: 1280px) {
    .happy-students {
        padding-bottom: 50px;
    }
}

@media only screen and (min-width: 768px) {
    .reviews-link {
        display: flex;
        align-items: center;
        gap: 12px;
    }
}

.happy-students-photos {
    display: flex;
    margin-bottom: 4px;
}

@media only screen and (min-width: 768px) {
    .happy-students-photos {
        margin-bottom: 0;
    }
}

.student-photo {
    width: 44px;
    height: 44px;
    border-radius: 100px;
    border: 2px solid #1D1D1D;
}

.first {
    position: relative;
    z-index: 3;
}

.second {
    position: relative;
    z-index: 2;
}

.third {
    position: relative;
    z-index: 1;
}

.student-photo:nth-child(1) {
    margin-right: -12px;
}

.student-photo:nth-child(2) {
    margin-right: -12px;
}

.hero-reviews-link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 4px;
}

@media only screen and (min-width: 768px) {
    .hero-reviews-link {
        align-items: flex-start;
        flex-direction: column;
        gap: 8px;
    }
}

.reviews-chart {
    display: flex;
    align-items: center;
    width: 104px;
    gap: 12px;
}

.hero-reviews-link:hover,
.hero-reviews-link:focus {
    cursor: pointer;
    color: #BEA69E;
}

.happy-students-link {
    color: currentColor;
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: -0.04em;
    width: 67px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-arrow {
    fill: #FFF;
    fill: currentColor;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-star {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    flex-shrink: 0;
    border-radius: 100px;
    background-color: #BEA69E;
}

.star {
    fill: none;
    stroke: #121212;
}

.hero-reviews-text {
    color: rgba(255, 255, 255, 0.50);
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: -0.04em;
    width: 57px;
    padding-bottom: 4px;
}

@media only screen and (min-width: 768px) {
    .hero-reviews-text {
        padding-bottom: 8px;
  }
}

.hero-reviews-numbers {
    color: #FFF;
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.13;
    letter-spacing: -0.04em;
    width: 57px;
}

.photographer-photo {
    margin: 0 auto;
    max-width: 259px;
    max-height: 314px;
}

@media only screen and (min-width: 768px) {
    .photo-frame {
        min-width: 393px;
        min-height: 434px;
    }
    .photographer-photo {
        margin: 0 123px;
        max-width: 393px;
        max-height: 434px;
    }
}

@media only screen and (min-width: 1280px) {
    .photo-frame {
        width: 397px;
        height: 520px;
    }
    .photographer-photo {
        margin: 0 auto;
    }
}



