
.foto {
    height: auto;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 16px;
}
.mentors-title {
    color: #FFF;
    text-align: left;
    font-size: 28px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.04em;
    text-transform: capitalize;
    margin-bottom: 40px;
  }
  @media screen and (min-width: 768px){
    .mentors-title {
       font-size: 48px;
       line-height: 54px; 
       letter-spacing: -0.04em;
    }
  }
 
  .mentors-list {
    display: flex;
    width: 100%;
    row-gap: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  @media screen and (min-width: 768px) {
    .mentors-list {
      flex-direction: row;
      flex-wrap: wrap;
      column-gap: 100px;
      row-gap: 93px;
    } 
  }
  @media screen and (min-width: 1280px) {
    .mentors-list {
       gap: 100px;
       }
    
  }
  .mentors-title-name {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2; 
  }

  .mentors-par {
    color: rgba(255, 255, 255, 0.50);
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.33;
    letter-spacing: -0.02em;
  }