@media only screen and (min-width: 768px) {
  .sign-up {
    padding-left: 32px;
    max-width: 768px;
  }
}

@media only screen and (min-width: 1280px) {
  .sign-up {
    padding-left: 100px;
    max-width: 1280px;
  }
}

h2 {
  color: #fff;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.04em;
}

@media only screen and (min-width: 768px) {
  h2 {
    font-size: 48px;
    line-height: 1.12;
  }
}

.accent {
  color: #bea69e;
}

p {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.02em;

  max-width: 295px;
  margin-bottom: 40px;
}

@media only screen and (min-width: 768px) {
  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    max-width: 480px;
  }
}

.sign-up-form-input:focus {
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.form-lable {
  width: 100%;
}

.form-input {
  width: 100%;
  box-sizing: border-box;

  color: #fff;
  font-size: 14px;
  line-height: 1.28;

  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);

  background: transparent;
  font-family: inherit;

  padding-left: 18px;
  padding-top: 14px;
  padding-bottom: 14px;

  outline: none;
  background-color: transparent;

  margin-bottom: 8px;
}

@media only screen and (min-width: 768px) {
  .form-input {
    margin-bottom: 14px;
    max-width: 480px;
  }
}

.form-input:focus {
  border-color: rgba(255, 255, 255, 0.5);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
  .form-input {
    font-size: 16px;
    line-height: 1.25;

    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.form-input::placeholder {
  color: fff;
  opacity: 0.7;
}

.form-comment {
  height: 112px;
  padding-left: 18px;
  padding-top: 14px;
  color: #fff;
  font-size: 14px;

  resize: none;

  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);

  width: 100%;
  box-sizing: border-box;

  line-height: 1.28;
  background: transparent;
  outline: none;

  margin-bottom: 40px;
}

@media only screen and (min-width: 768px) {
  .form-comment {
    padding-top: 20px;

    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;

    max-width: 480px;
  }
}

.form-comment:focus {
  border-color: rgba(255, 255, 255, 0.5);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

textarea {
  font-family: inherit;
}

.form-comment::placeholder {
  color: fff;
  opacity: 0.7;
}

.form-comment:focus {
  border-color: rgba(255, 255, 255, 0.5);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-send {
  color: #121212;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
  text-transform: uppercase;

  display: flex;
  width: 100%;
  padding: 14px 127px;
  justify-content: center;
  align-items: center;

  border-radius: 12px;
  background: var(--white, #fff);
  border-style: none;
  cursor: pointer;
  margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .button-send {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.55;

    width: 479px;
    height: 60px;
  }
}

.privacy-policy {
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33;
  max-width: 335px;
}

@media only screen and (min-width: 768px) {
  .privacy-policy {
    font-size: 14px;
    line-height: 1.28;
    max-width: 480px;
  }
}

.privacy-policy-accent {
  text-decoration-line: underline;
}
